# Mac OS
.DS_Store

# NPM
/node_modules
npm-*

# Testing
/.nyc_output
/coverage

# Editor
/.idea
/.vscode

# Build
/dist
/playground
/benchmark

# Localization
/translations
src/extensions/scratch3_minecraft/block_info_.txt
src/extensions/scratch3_minecraft/block_info.txt
1-20-1_blocks.xml
src/extensions/scratch3_minecraft/particle_info.txt
